@import "tailwindcss";

@plugin "daisyui" {
  themes:
    retro --default,
    luxury --prefersdark;
}

:root {
  line-height: auto;
  font-family: "Crimson Pro", serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --bg-color: #323437;
  --main-color: #e2b714;
  --caret-color: #e2b714;
  --sub-color: #646669;
  --sub-alt-color: #2c2e31;

  --error-color: #ca4754;
  --error-extra-color: #7e2a33;
  --colorful-error-color: #ca4754;
  --colorful-error-extra-color: #7e2a33;
}

#words {
  user-select: none;
  --correct-letter-color: rgb(30, 150, 30);
  --correct-letter-animation: none;
  --untyped-letter-color: var(--sub-color);
  --untyped-letter-animation: none;
  --incorrect-letter-color: var(--error-color);
  --incorrect-letter-animation: none;
  --extra-letter-color: var(--error-extra-color);
  --extra-letter-animation: none;
}

.incorrect {
  color: var(--incorrect-letter-color);
  animation: var(--incorrect-letter-animation);
  @apply underline;
}

.correct {
  color: var(--correct-letter-color);
  animation: var(--correct-letter-animation);
}


@keyframes blink {
  0%,
  100% {
    border-color: var(--caret-color);
  }

  50% {
    border-color: transparent;
  }
}

#root {
  width: 100%;
  margin: 0;
}

p,
span {
  font-family: "IBM Plex Serif", serif;
  font-weight: 400;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

.active-word {
  color: #fafafa8e;
}
