@import "tailwindcss";

@plugin "daisyui" {
  themes: retro --default, luxury --prefersdark;
}

:root {
  line-height: auto;
  font-family: "Crimson Pro", serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#words {
  user-select: none;
  --correct-letter-color: var(--text-color);
  --correct-letter-animation: none;
  --untyped-letter-color: var(--sub-color);
  --untyped-letter-animation: none;
  --incorrect-letter-color: var(--error-color);
  --incorrect-letter-animation: none;
  --extra-letter-color: var(--error-extra-color);
  --extra-letter-animation: none;
}

#root {
  width: 100%;
  margin: 0;
}

p,
span {
  font-family: 'IBM Plex Serif', serif;
  font-weight: 400;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}