@import "tailwindcss";

@plugin "daisyui" {
  themes: retro --default, luxury --prefersdark;
}

:root {
  line-height: auto;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  width: 100%;
  margin: 0;
}

h1,
button {
  font-family: "Crimson Pro", serif;
}

p,
span {
  font-family: 'IBM Plex Serif', serif;
  font-weight: 400;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}